<section id="about" class="inner active" [class.animate-in]="viewInit">
    <div class="container-fluid p-0 fullheight">
        <div class="row g-0 fullheight">

            <!-- About Section Content Start -->
            <div class="col-12 col-xl-8 inner__content">
                <!-- desktop shadow -->
                <div class="desktop-shadow"></div>
                <!-- inner section blocks -->
                <div class="inner__blocks">

                    <!-- Section Container - Section Title Start -->
                    <div class="inner__container">
                        <div class="content-block">
                            <span class="section__subtitle">About me</span>
                            <h2>A bit about me.</h2>
                            <p class="section__text">
                                Full stack Software engineer specialising in JavaScript / TypeScript development within the Browser or
                                Server side. I have been in the tech industry for 10+ years, since graduating with a First Class (Hons)
                                in Business Information Systems from the University of Portsmouth.
                            </p>
                        </div>
                    </div>
                    <!-- Section Container - Section Title End -->

                    <!-- Section Container - Features Start -->
                    <div class="inner__container">
                        <div class="content-block grid-block">
                            <div class="container-fluid px-4">
                                <div class="row gx-5 align-items-stretch justify-content-center">
                                    <div *ngFor="let company of companies" class="col-8 col-md-4 feature">
                                        <a [href]="company.href" target="_blank">
                                            <div class="feature__item block-rounded-l">
                                                <div class="feature__image block-rounded-m">
                                                    <img [src]="company.image" [alt]="company.name">
                                                </div>
                                                <div class="feature__descr">
                                                    <span class="feature__subtitle">{{ company.position }}</span>
                                                    <h4 class="feature__title">{{ company.name }}</h4>
                                                    <p class="feature__text">{{ company.text }}</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Section Container - Features End -->

                    <!-- Section Container - Skillbars Start -->
                    <div class="inner__container">
                        <div class="content-block">
                            <!-- skillbar single item -->
                            <div *ngFor="let skill of skills" class="show-skillbar">
                                <div class="skillbar">
                                    <span class="skillbar-title">{{ skill.name }}</span>
                                    <p class="skillbar-bar" [style.width.%]="skill.percent"></p>
                                    <span class="skill-bar-percent"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Section Container - Skillbars End -->

                </div>
            </div>
            <!-- About Section Content End -->

            <!-- About Section Media Start -->
            <div class="col-12 col-xl-4 inner__media">

                <!-- About Section Image Background Start -->
                <div class="image media-image-about"></div>
                <!-- About Section Image Background End -->

            </div>
            <!-- About Section Media End -->

        </div>
    </div>
</section>
