<section class="get-in-touch green" id="getintouch">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Get in touch with me</h1>
                <div class="row">
                    <div class="col-md-6">
                        <p>
                            I always love hearing and seeing what new opportunities are out there so, if you fancy getting in touch with me please feel free to message me on all of the normal channels.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <ul class="icons">
                            <li>
                                <a class="fa-stack fa-lg" href="http://www.github.com/nwhite89" title="GitHub" target="_blank">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </a>
                            </li>
                            <li>
                                <a class="fa-stack fa-lg" href="http://www.twitter.com/nwhite89" title="Twitter" target="_blank">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </a>
                            </li>
                            <li>
                                <a class="fa-stack fa-lg" href="https://www.linkedin.com/in/nwhite89" title="LinkedIn" target="_blank">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                                </a>
                            </li>
                            <li>
                                <a class="fa-stack fa-lg" href="http://instagram.com/nwhite89" title="Instagram" target="_blank">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                                </a>
                            </li>
                            <li>
                                <a class="fa-stack fa-lg" href="mailto:nickswhite89@gmail.com" title="E-Mail">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
