<section class="about white py-5" id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-7 me">
                <h1>A bit about me</h1>
                <h3>Nick White : Software Engineer : London, UK</h3>

                <p>
                    Full stack Software engineer specialising in JavaScript development within the Browser or Server side. I have been in the tech industry for 9 years, since graduating with a First Class (Hons) in Business Information Systems from the University of Portsmouth.
                </p>

                <p>
                    I am currently working at <a href="http://www.scoota.com" title="Scoota" target="_blank">Scoota</a>, which is a online advertising technology company (ADTECH) that enables advertisers to create, activate, measure and optimise brilliant brand campaigns at scale.
                </p>

                <p>
                    As a developer I work with Vanilla JavaScript, Typescript, Angular 1 &amp; 2, Webpack, CSS3, HTML5 and Node JS. In order to build the new Rig distribuition platform which allows users to create, serve and monitor ads. As well as creating brand new formats such as; Prism, Parascroll and Page Shell formats. Ensuring that they can all perform and be served at scale using Real Time Bidding (Open RTB).
                </p>
            </div>
            <div class="col-md-5 d-flex flex-column justify-content-between">
                <div class="icon">
                    <i class="fa fa-code"></i>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <ul class="skills">
                            <li *ngFor="let skill of skills.slice(0, skills.length / 2);">
                                {{ skill }}
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="skills">
                            <li *ngFor="let skill of skills.slice(skills.length / 2, skills.length);">
                                {{ skill }}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="gravatar">
                    <a href="https://github.com/nwhite89">
                        <img src="https://www.gravatar.com/avatar/282f092daba9c0075331450e55149ef4?s=256" />
                    </a>
                </div>
            </div>
            <div class="col-md-12">
                <h2 class="pb-4 pt-3">My GitHub Projects</h2>
                <div>
                    <ul class="github-projects row">
                        <li class="col-1 col-sm-3" *ngFor="let project of githubProjects;">
                            <a [href]="project.link" target="_blank">{{ project.title }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
