
.header__logo
    z-index: 1
    img
        border-radius: 80px
        height: 80px

.photoswipe-vid
    text-align: center
    video
        max-width: 1000px
        max-height: 1000px

.pswp__top-bar
    opacity: 1!important
