/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<i class="icon-home"></i>
```
*/
.icon-IamEthiconAwards {
  background-image: url(../img/projects/thumbnails/IamEthiconAwards.png);
  width: 200px;
  height: 200px;
}
.icon-RSSBRruka {
  background-image: url(../img/projects/thumbnails/RSSBRruka.png);
  width: 200px;
  height: 200px;
}
.icon-betterworldwalk {
  background-image: url(../img/projects/thumbnails/betterworldwalk.png);
  width: 200px;
  height: 200px;
}
.icon-improve {
  background-image: url(../img/projects/thumbnails/improve.png);
  width: 200px;
  height: 200px;
}
.icon-learningjourney {
  background-image: url(../img/projects/thumbnails/learningjourney.png);
  width: 200px;
  height: 200px;
}
.icon-mentosmoneymaker {
  background-image: url(../img/projects/thumbnails/mentosmoneymaker.png);
  width: 200px;
  height: 200px;
}
.icon-mobilelondon {
  background-image: url(../img/projects/thumbnails/mobilelondon.png);
  width: 200px;
  height: 200px;
}
.icon-rockabox-creative {
  background-image: url(../img/projects/thumbnails/rockabox-creative.png);
  width: 200px;
  height: 200px;
}
.icon-smarttouch {
  background-image: url(../img/projects/thumbnails/smarttouch.png);
  width: 200px;
  height: 200px;
}
