/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<i class="icon-home"></i>
```
*/
.icon-IamEthiconAwards {
  background-image: url(img/projects/thumbnails/sprite.png);
  background-position: 0px 0px;
  width: 200px;
  height: 200px;
}
.icon-RSSBRruka {
  background-image: url(img/projects/thumbnails/sprite.png);
  background-position: 0px -200px;
  width: 200px;
  height: 200px;
}
.icon-betterworldwalk {
  background-image: url(img/projects/thumbnails/sprite.png);
  background-position: 0px -400px;
  width: 200px;
  height: 200px;
}
.icon-improve {
  background-image: url(img/projects/thumbnails/sprite.png);
  background-position: 0px -600px;
  width: 200px;
  height: 200px;
}
.icon-learningjourney {
  background-image: url(img/projects/thumbnails/sprite.png);
  background-position: 0px -800px;
  width: 200px;
  height: 200px;
}
.icon-mentosmoneymaker {
  background-image: url(img/projects/thumbnails/sprite.png);
  background-position: 0px -1000px;
  width: 200px;
  height: 200px;
}
.icon-mobilelondon {
  background-image: url(img/projects/thumbnails/sprite.png);
  background-position: 0px -1200px;
  width: 200px;
  height: 200px;
}
.icon-rockabox-creative {
  background-image: url(img/projects/thumbnails/sprite.png);
  background-position: 0px -1400px;
  width: 200px;
  height: 200px;
}
.icon-smarttouch {
  background-image: url(img/projects/thumbnails/sprite.png);
  background-position: 0px -1600px;
  width: 200px;
  height: 200px;
}
