/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<i class="icon-home"></i>
```
*/
.project-icon {
    width: 200px;
    height: 200px;
}
.icon-IamEthiconAwards {
  background-image: url(../img/projects/thumbnails/IamEthiconAwards.png);
}
.icon-RSSBRruka {
  background-image: url(../img/projects/thumbnails/RSSBRruka.png);
}
.icon-betterworldwalk {
  background-image: url(../img/projects/thumbnails/betterworldwalk.png);
}
.icon-improve {
  background-image: url(../img/projects/thumbnails/improve.png);
}
.icon-learningjourney {
  background-image: url(../img/projects/thumbnails/learningjourney.png);
}
.icon-mentosmoneymaker {
  background-image: url(../img/projects/thumbnails/mentosmoneymaker.png);
}
.icon-mobilelondon {
  background-image: url(../img/projects/thumbnails/mobilelondon.png);
}
.icon-rockabox-creative {
  background-image: url(../img/projects/thumbnails/rockabox-creative.png);
}
.icon-smarttouch {
  background-image: url(../img/projects/thumbnails/smarttouch.png);
}
.icon-rigdistribute {
    background-image: url(../img/projects/thumbnails/rigdistribute.png);
}
.icon-rigcreate {
    background-image: url(../img/projects/thumbnails/rigcreate.png);
}
.icon-formats-prism {
    background-image: url(../img/projects/thumbnails/formats-prism.png);
}
.icon-formats-page-shift {
    background-image: url(../img/projects/thumbnails/formats-page-shift.png);
}
.icon-formats-page-shells {
    background-image: url(../img/projects/thumbnails/formats-page-shells.png);
}
.icon-formats-parallax-dmpu {
    background-image: url(../img/projects/thumbnails/formats-parallax-dmpu.png);
}
.icon-formats-parascroll {
    background-image: url(../img/projects/thumbnails/formats-parascroll.png);
}
