$white-color: #fef6e9;
$red-color: #e64141;
$blue-color: #1591ac;
$green-color: #65beb4;
$black-color: #2f2f2f;
$font-color: #343642;
$font-roboto: 'Roboto', sans-serif;
$font-dafoe: 'Mr Dafoe', cursive;
