<section id="main" class="main active" [class.animate-in]="viewInit">
    <div class="main__content">
        <div class="container-fluid p-0 fullheight">
            <div class="row g-0 fullheight">

                <!-- Main Section Intro Start -->
                <div class="col-12 col-xl-8 main__intro">

                    <!-- Intro Content Start -->
                    <div class="intro__content">

                        <!-- Headline Start -->
                        <div id="headline" class="headline">
                            <span class="headline__subtitle">Let’s meet</span>
                            <h1 class="animated-headline medium">
                                Nick White
                                <br>
                                <!-- <span id="typed">
                                    <b>Co-founder | a Kid called Beast</b>
                                    <b>CTO AnjiEco</b>
                                    <b>Software Engineer</b>
                                </span> -->
                                <span id="typed" #typewriter></span>
                            </h1>
                            <div class="headline__numblock d-flex align-items-start">
                                <div class="numblock block-rounded-m d-flex flex-column flex-sm-row align-items-sm-center">
                                    <span class="numblock__number">10+</span>
                                    <span class="numblock__descr">Years of<br>experience</span>
                                </div>
                                <!-- <div class="numblock block-rounded-m d-flex flex-column flex-sm-row align-items-sm-center">
                                    <span class="numblock__number">3.0</span>
                                    <span class="numblock__descr">Web</span>
                                </div> -->
                            </div>
                        </div>
                        <!-- Headline End -->

                    </div>
                    <!-- Intro Content End -->

                    <!-- Bottom Button Start -->
                    <div class="intro__button" style="display: none;">
                        <a href="#0" class="btn-bottom">
                            <span class="circle">
                                <em></em>
                                <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px"
                                viewBox="0 0 24 24" width="24px">
                                <rect fill="none" height="24" width="24" />
                                <path
                                d="M14.29,5.71L14.29,5.71c-0.39,0.39-0.39,1.02,0,1.41L18.17,11H3c-0.55,0-1,0.45-1,1v0c0,0.55,0.45,1,1,1h15.18l-3.88,3.88 c-0.39,0.39-0.39,1.02,0,1.41l0,0c0.39,
                                0.39,1.02,0.39,1.41,0l5.59-5.59c0.39-0.39,0.39-1.02,0-1.41L15.7,5.71 C15.32,5.32,14.68,5.32,14.29,5.71z" />
                            </svg>
                        </span>
                        <span class="caption">Download CV</span>
                    </a>
                </div>
                <!-- Bottom Button End -->

            </div>
            <!-- Main Section Intro End -->

            <!-- Main Section Media Start -->
            <div class="col-12 col-xl-4 main__media">

                <!-- Background Effect Start -->
                <section  id="backgroundCarousel" class="splide">
                    <div class="splide__track">
                        <ul class="splide__list">
                            <li class="splide__slide" data-splide-html-video="/assets/videos/beast-shapeshift.mp4">
                                <img src="/assets/img/backgrounds/beast-shapeshift.png" />
                            </li>
                            <li class="splide__slide" data-splide-html-video="/assets/videos/beast-dancing.mp4">
                                <img src="/assets/img/backgrounds/beast-dance-vid-poster.jpg" />
                            </li>
                            <li class="splide__slide" data-splide-html-video="/assets/videos/beast-silicon-alley.mp4">
                                <img src="/assets/img/backgrounds/beast-silicon-alley.png" />
                            </li>
                            <li class="splide__slide" data-splide-html-video="/assets/videos/ninja-beast.mp4">
                                <img src="/assets/img/backgrounds/ninja-poster.png" />
                            </li>
                        </ul>
                    </div>
                </section>
                <!-- Background Effect End -->

            </div>
            <!-- Main Section Media End -->

            <!-- Sosials Mobile Start -->
            <div class="col-12 socials-mobile">
                <ul>
                    <li>
                        <a href="http://www.github.com/nwhite89" target="_blank">
                            <i class="fa-brands fa-github"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.twitter.com/nwhite89" target="_blank">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://instagram.com/nwhite89" target="_blank">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://t.me/nwhite89" target="_blank">
                            <i class="fa-brands fa-telegram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/nwhite89" target="_blank">
                            <i class="fa-brands fa-linkedin"></i>
                        </a>
                    </li>

                </ul>
            </div>
            <!-- Sosials Mobile End -->

        </div>
    </div>
</div>
</section>
